.matchHistory2 {
    margin-top: 3%;
}

.box {
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
}



.search {
    position: relative;
    width: 800px;
    margin: 0 auto; 
}

input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 25px;
}

.search {
    display: flex;
    align-items: center;
  }
  
  #summoner {
    flex: 1;
    padding-right: 30px; /* Adjust the padding if necessary */
    box-sizing: border-box;
  }
  
  #search {
    cursor: pointer;
    margin-left: -30px; /* Adjust the negative margin to match the padding of the input */
  }