.matchHistory2 {
    margin-top: 3%;
}

.box {
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
}



.search {
    position: relative;
    width: 800px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    border: 3px solid rgb(207, 142, 152);
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 25px;
}


  
  #summoner {
    flex: 1;
    padding-right: 30px; /* Adjust the padding if necessary */
    box-sizing: border-box;
  }
  
  #search {

    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;

    right: 0;
  }